{{#each users}}
  <div class="row dashboard page-header">
    <div class="col-md-offset-1 col-md-3 text-center">
      <img src="{{portrait_link}}" alt="{{first_name}} {{last_name}}" />
      <div class="ratings {{rating}}"></div>
    </div>
    <div class="col-md-offset-1 col-md-7">
      <h2>{{first_name}} {{last_name}}</h2>
      <span class="glyphicon glyphicon-star verified {{verified}}" aria-hidden="true"></span>
      <h4>{{address_1}}</h4>
      {{#if address_2}}<h4>{{address_2}}</h4>{{/if}}
      <h4>{{city}} {{state}}, {{zip_code}}</h4>
      <h3>Email: {{email}}</h3>
      <h3>Phone: {{phone}}</h3>
      <form action="/users/admin/{{id}}/delete" method="post">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Delete User</button>
        </div>
      </form>
    </div>
  </div>
{{/each}}
