<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css' rel='stylesheet' />

<div class="row secondary_nav">
  <div class="col-md-offset-1 col-md-2">
    <form action="/location" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="" placeholder="Enter a location...">
      </div>
    </form>
  </div>
  <div class="col-md-offset-6 col-md-2 text-right">
    <div class="form-group">
      <a href="/users/posting">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Posting</button>
      </a>
    </div>
  </div>
</div>

<div class="row map">
  <div class="col-md-12">
    <div id="map" class=""></div>
  </div>
</div>


{{#each listings}}
  <div class="row postings">
    <div class="col-md-offset-1 col-md-10">
      <div class="row">
        <div class="col-md-2 text-center">
          <img src="{{portrait_link}}" alt="{{title}}" />
          <div class="ratings {{rating}}"></div>
        </div>
        <div class="col-md-7">
          <span class="glyphicon glyphicon-star verified {{verified}}" aria-hidden="true"></span>
          <a href='/posting/{{id}}'><h3>{{title}}</h3></a>
          <p>{{description}}</p>
        </div>
        <div class="col-md-3">
          <p>City: {{city}}</p>
          <p>Amount: {{amount}}oz</p>
          <p>Cost: ${{cost_per_ounce}}</p>
          <p>Date: {{created_at}}</p>
          <form action="/users/request" method="post">
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Request {{requested}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{{/each}}

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />

<script>
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success);
  } else {
    console.log("Geolocation is not supported by this browser.");
  }

  function success(pos) {
    var crd = pos.coords;
    console.log(pos.coords);
    console.log('Latitude : ' + crd.latitude);
    console.log('Longitude: ' + crd.longitude);
    console.log('More or less ' + crd.accuracy + ' meters.');

    L.mapbox.accessToken = 'pk.eyJ1IjoiY2hlaW5yaWNocyIsImEiOiJjaW13bGQ3dW0wMzcxdW5tNDY4enhjNXp0In0.Yp48WNc-1xlHBLX9PcA5oQ';
    var map = L.mapbox.map('map', 'mapbox.light')
      .setView([crd.latitude, crd.longitude], 10);
    var myLayer = L.mapbox.featureLayer().addTo(map);


    var geojson = [];
    for (var i = 0; i <= 10; i++) {
      var newlat = crd.latitude + Math.random();
      var newlong = crd.longitude + Math.random();
      var newJson = {
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [newlong, newlat]
        },
        "properties": {
          "title": "Galvanize",
          "description": "Pearl Street, CO",
          "marker-color": "#63b6e5",
          "marker-size": "medium",
          "marker-symbol": "water"
        }
      };
      geojson.push(newJson);
    }

    console.log(geojson);

    myLayer.setGeoJSON(geojson);
  }
</script>
