<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css' rel='stylesheet' />

<div class="row map">
  <div id="map" class=""></div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-2">
    <form id="enterALocation" onsubmit="geocodeThis()">
      <div class="form-group">
        <input type="text" id='search' class="form-control" placeholder="Enter a location...">
      </div>
    </form>
  </div>
  <div class="col-md-offset-6 col-md-2 text-right addbtn">
    <div class="form-group">
      <a href="/users/posting">
        <button type="submit" class="btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Posting</button>
      </a>
    </div>
  </div>
</div>

<div class="container">

  {{#each listings}}
    <div class="row postings">
      <div class="col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-md-2 text-center">
            <img src="{{portrait_link}}" alt="{{title}}" />
            <div class="ratings {{rating}}"></div>
          </div>
          <div class="col-md-7">
            <a href='/posting/{{id}}'><h3>{{title}}</h3></a>
            <p>{{description}}</p>
            {{#if verified}}
            <img src="/images/ribbon.png" alt="" class="ribbon verified {{verified}}" />
            {{/if}}
          </div>
          <div class="col-md-3">
            <p>City: {{city}}</p>
            <p>Amount: {{amount}}oz</p>
            <p>Cost: ${{cost_per_ounce}}</p>
            <p>Date: {{created_at}}</p>
            <form action="/users/request/{{id}}" method="post">
              <div class="form-group">
                <button type="submit" class="btn">Request {{requested}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/each}}

</div>

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
<script type="text/javascript">
  var listingArray = {{{listingMapMarkers}}};
</script>
<script type="text/javascript" src="/javascripts/maps.js"></script>
