<div class="col-md-12">
  <img src="{{user.portrait_link}}" alt="profile picture" width="140px"/>
  <form class="profileUpdate" action="/users/profile/{{user.id}}" method="post">
    <label for="email">Email
      <input type="text" name="email" value="{{user.email}}">
    </label>
    <br />
    <label for="portrait_link">Portait Link
      <input type="text" name="portrait_link" value="{{user.portrait_link}}">
    </label>
    <br />
    <label for="address_1">Address
      <input type="text" name="address_1" value="{{user.address_1}}">
        <br />
      <input type="text" name="address_2" value="{{user.address_2}}">
        <br />
      <input type="text" name="city" value="{{user.city}}">
        <br />
      <input type="text" name="state" value="{{user.state}}">
        <br />
      <input type="integer" name="zip_code" value="{{user.zip_code}}">
    </label>
      <br />
    <input type="submit" name="submit" value="Update your profile information">
  </form>
</div>

{{#each listings}}
  <div class="row listing">
    <div class="col-md-offset-1 col-md-10">
      <div class="row">
        <div class="col-md-2 text-center">
          <img src="{{portrait_link}}" alt="{{title}}" />
          <p>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          </p>
        </div>
        <div class="col-md-7">
          <span class="glyphicon glyphicon-star verified {{verified}}" aria-hidden="true"></span>
          <p>{{description}}</p>
        </div>
        <div class="col-md-3">
          <p>City: {{city}}</p>
          <p>Amount: {{amount}}oz</p>
          <p>Cost: ${{cost_per_ounce}}</p>
          <p>Date: {{created_at}}</p>
          <form action="/request" method="post">
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Request {{requested}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{{/each}}
